{% extends 'layout.html' %}

{% block title %}Kenode Blog{% endblock %}

{% block bodyer %}
      <div id="blog-list">
        <ul class="list-group">
          <li class="list-group-item">
            <div>
              <p class="list-top">三个月前</p>
              <h4 class="title">
                <a href="#">不明白大脑如何运作，自学是无效的</a>
              </h4>
              <div class="list-foot">
                <span>阅读 1764</span>
                <span> · 评论 8</span>
                <span> · 喜欢 46</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <a href="#" class="wrap-img"><img src="./img/logo-blue-cube.png" /></a>
            <div>
              <p class="list-top">三个月前</p>
              <h4 class="title">
                <a href="#">继《泰坦尼克号》之后，我再次爱上了露丝！！</a>
              </h4>
              <div class="list-foot">
                <span>阅读 1764</span>
                <span> · 评论 8</span>
                <span> · 喜欢 46</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <p class="list-top">三个月前</p>
              <h4 class="title">
                <a href="#">继《泰坦尼克号》之后，我再次爱上了露丝！！</a>
              </h4>
              <div class="list-foot">
                <span>阅读 1764</span>
                <span> · 评论 8</span>
                <span> · 喜欢 46</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <p class="list-top">三个月前</p>
              <h4 class="title">
                <a href="#">不明白大脑如何运作，自学是无效的</a>
              </h4>
              <div class="list-foot">
                <span>阅读 1764</span>
                <span> · 评论 8</span>
                <span> · 喜欢 46</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <p class="list-top">三个月前</p>
              <h4 class="title">
                <a href="#">不明白大脑如何运作，自学是无效的</a>
              </h4>
              <div class="list-foot">
                <span>阅读 1764</span>
                <span> · 评论 8</span>
                <span> · 喜欢 46</span>
              </div>
            </div>
          </li>
       </ul>
      </div>

{% endblock %}