<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}My Title{% endblock %}</title>
  <!-- Styles -->
  <link href="/css/vendor.min.css" rel="stylesheet">
  <link href="/css/{% block style %}index{% endblock %}.min.css" rel="stylesheet">
</head>
<body{% if cookies.display_mode == 'dark' %} class="dark-page"{% endif %}>
  {% block navbar_top %}{% endblock %}
  <div id="wraper">
    <div id="message" class="alert alert-danger animated fadeOutUp" role="alert">...</div>
    <div id="well" class="app-well-hidden"></div>
    {% block left-tools %}{% endblock %}
    {% block screen %}{% endblock %}
    <div id="bodyer">
      {% block bodyer %}{% endblock %}
    </div>
  </div>
  <script src="/js/vendor.min.js"></script>
  <script src="/js/{% block entry %}index{% endblock %}.min.js"></script>
</body>
</html>